body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}

.container {
    text-align: center;
    width: 400px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

label {
    font-size: 18px;
    display: block;
    text-align: left;
    margin-left: 20px;
}

input {
    width: 90%;
    height: 45px;
    font-size: 18px;
    padding-left: 10px;
    border: 2px solid #cfd8dc;
    border-radius: 6px;
    margin: 10px 0 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

button {
    flex: 1;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.deposit {
    background: #1565ff;
}

.withdraw {
    background: #ff2b2b;
}

#message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
